# =========================
# Symfony / PHP
# =========================
/vendor/
/var/
/public/bundles/
/public/assets/
/assets/vendor/

# =========================
# Environment files
# =========================
.env
.env.local
.env.*.local

# Symfony secrets
/config/secrets/

# Symfony CLI
.symfony.local.yaml

# =========================
# Cache / Logs
# =========================
/var/cache/
/var/log/

# =========================
# PHPUnit
# =========================
/phpunit.xml
/.phpunit.cache/

# =========================
# IDEs
# =========================
.idea/
.vscode/

# =========================
# Composer
# =========================
composer.phar

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
